<!DOCTYPE html>
<html lang="en">

<head>
  <title>Passwords</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/invites.css" />
  <link rel="stylesheet" href="/styles/new_password.css" />
  <link rel="stylesheet" href="/styles/passwords.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
  <script defer src="/scripts/app.js"></script>

</head>

<body>
  <!-- Top navbar (fixed) -->
  <a id="user-json" class="hidden"><%- JSON.stringify(user) %></a>
  <a id="passwords-json" class="hidden"><%- JSON.stringify(passwords) %></a>
  <%- include('partials/_header', { user: user }) %>
  <% if (locals.org) { %>
    <p class="org-name"><%- org[0].org_name %></p>
   <% } %>
  
    <div class="box-container1"></div>
    <section class="create_org"></section>
    <form action="/orgs">
      <button id="create_org" type="Submit">Create Organizations</button>
    </form>
    <section class="share_password"></section>
    <form action="/orgs/<%=user.id %>/invites">
      <button id="share_password" type="Submit">Share password</button>
    </form>
    <section class="create_password"></section>
    <form action="/new_password">
      <button id="create_password" type="Submit">Create password</button>
    </form>
    <div>
      <% for (let data of passwords) { %>
        <p class='view_password_id'>
          <% data.id %>
        </p>
        <button data-id="<%=data.id %>" class='view_password_button'>
          <%= data.website_name %>
        </button>
        <p data-id="<%=data.id %>" class="hide password">
          <%= data.password %>
        </p>
        <% } %>
    </div>
    <div class="box-container2"></div>
</body>

</html>
<!-- <div class="view_password_button">
      <section class="view_password_button"></section>
      <form class="view_password_button"></form>

      <div>
        <% for (let data of passwords) { %>
          <button data-id="<%=data.website_name %>" id='view_password_button'>
            <p>
              <%= data.website_name %>
            </p>
          </button>
          <p class="hide password">
            <%= data.password %>
          </p>
          <% } %>
      </div>
    </div> -->
<!-- <div class="content"> -->
